
name: CI/CD Pipeline
on:
  push:
    branches: [ "main" ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and push images
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-backend ./backend
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-frontend ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/mean-backend
          docker push ${{ secrets.DOCKER_USERNAME }}/mean-frontend
